<app-header></app-header>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.6)" size="medium" color="#fff" type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="color: white;font-size: 24px;">{{ spinnerMessage }}</p>
</ngx-spinner>

<div class="content">
  <div class="left">
    <mat-horizontal-stepper [linear]="isLinear" #stepper [selectedIndex]="stepperIndex">
      <mat-step [stepControl]="initialFormGroup">
        <form [formGroup]="selectBankForm">
          <ng-template matStepLabel style="font-family: 'Gilroy-Bold'">Select Insurer
            <span style="color: gainsboro">&nbsp;1 of 5</span>
          </ng-template>
          <div class="row">
            <div class="kyc-done" *ngIf="isBankFound">
              KYC already completed for {{selectBankForm.value.bankName}}
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-5">
              <mat-form-field class="full-width" appearance="fill">
                <mat-label style="
                font-size: 15px;">Aadhaar Number</mat-label>
                <input matInput placeholder="Aadhaar Number" formControlName="panNumber" minlength="12" maxlength="12"
                  style="
                font-size: 15px;" />
              </mat-form-field>
              {{name}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-5">
              <mat-form-field class="full-width" appearance="fill">
                <mat-label style="
                font-size: 15px;">Insurance Company</mat-label>
                <mat-select (selectionChange)="BankSelected()" formControlName="bankName">
                  <mat-option *ngFor="let item of acquirerBanks" [value]="item.orgName" style="
                  font-size: 15px;">
                    {{ item.fullName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </form>
        <div class="row" style="margin-top: 25px">
          <div class="col-md-1"></div>
          <div class="col-md-4"> <button class="full-width" mat-button matStepperPrevious>Back</button></div>
          <div class="col-md-1"></div>
          <div class="col-md-4"><button class="full-width" mat-button matStepperNext [disabled]="!isCorrectBankSelected"
              data-toggle="modal" data-target="#myModal">Next</button></div>
        </div>
      </mat-step>

      <mat-step [stepControl]="firstFormGroup" *ngIf="isAllstepsRequired">
        <form [formGroup]="merchantForm">
          <ng-template matStepLabel style="font-family: 'Gilroy-Bold'">Basic Info <span style="color: gainsboro">&nbsp;2
              of 5</span>
          </ng-template>
          <p>
            Enter your details as they appear on your identification document.
          </p>
          <mat-card-content>
            <div class="row" style="margin-top: 15px">
              <div class="col-md-5">
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="First name, Last name" formControlName="name" />
                </mat-form-field>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5">
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>DOB</mat-label>
                  <input matInput placeholder="MM/DD/YYYY" [matDatepicker]="picker" formControlName="dob" />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Country</mat-label>
                  <mat-select formControlName="country">
                    <mat-option *ngFor="let item of countries" [value]="item.value">
                      {{ item.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5">
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Phone</mat-label>
                  <input matInput placeholder="97XXXX XXXXX" type="number" formControlName="phone" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <!-- <div class="col-md-1"> -->
              <!-- <mat-form-field class="full-width" appearance="fill">
                  <mat-label>PAN</mat-label>
                  <input
                    matInput
                    placeholder="ABCDXXXXE"
                    formControlName="panNumber"
                  />
                </mat-form-field> -->
              <!-- </div> -->
              <!-- <div class="col-md-1"></div> -->
              <div class="col-md-11">
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Address</mat-label>
                  <textarea matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="address"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Gender</mat-label>
                  <mat-select formControlName="gender">
                    <mat-option *ngFor="let item of genders" [value]="item.value">
                      {{ item.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-3">
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Postal</mat-label>
                  <input matInput placeholder="XXXXXX" type="number" formControlName="postalCode" />
                </mat-form-field>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-3">
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>City</mat-label>
                  <input matInput formControlName="city" />
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
          <span>
            <p class="col-md-11" style="
                margin-top: 25px;
                font-size: 12px;
                color: #4d3ada;
                font-family: 'Gilroy-Bold';
              ">
              <mat-icon style="font-size: 16px">security</mat-icon>We don't
              share your data with any third-party vendors. You can trust us
              with your data. Security and Privacy is our core features and one
              of the main reason why this platform is built on blockchain
            </p>
          </span>
          <div class="row" style="margin-top: 25px">
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-3">
              <button class="full-width" mat-raised-button matStepperPrevious>
                Back
              </button>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
              <button class="full-width" mat-raised-button (click)="saveMerchant()" [disabled]="!merchantForm.valid">
                Save
              </button>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
              <button class="full-width" mat-raised-button matStepperNext (click)="setImageFlag('NEXT')"
                [disabled]="!merchantSuccess">
                Next
              </button>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup" *ngIf="isAllstepsRequired">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Identity Verification<span style="color: gainsboro">&nbsp;3 of 5</span>
          </ng-template>
          <p>
            To confirm you are you, please upload digital photos of the
            following documents
          </p>
          <!-- <mat-card-content> -->
          <div class="row" style="margin-top: 35px">

            <div class="col-md-6">
              <!-- <mat-card> -->

              <form [formGroup]="uploadForm" (ngSubmit)="upload()">
                <div class="form-group row">
                  <div class="col-md-5">
                    <label for="file-input1" class="btn btn-default" flow-btn style="padding-bottom: 37%;">
                      <div class="preview" *ngIf="imgFile1">
                        <img [src]="imgFile1" style="width: 100%" />
                      </div>
                      <div class="preview" *ngIf="!imgFile1">
                        <mat-icon class="file_copy" style="font-size:larger"> description </mat-icon>
                      </div>
                      <p class="choose-file" *ngIf="!imgFile1">
                        Click here to upload
                        <br /><b>Driving Licence</b> Front
                      </p>
                      <input type="file" class="form-control" id="file-input1" formControlName="file"
                        (change)="onImage1Change($event)" style="visibility: hidden; position: absolute" multiple />
                    </label>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-5">
                    <label for="file-input2" class="btn btn-default" flow-btn style="padding-bottom: 37%;">
                      <div class="preview" *ngIf="imgFile3">
                        <img [src]="imgFile3" style="width: 100%" />
                      </div>
                      <div class="preview" *ngIf="!imgFile3">
                        <mat-icon class="file_copy" style="font-size:larger"> description </mat-icon>
                      </div>
                      <p class="choose-file" *ngIf="!imgFile3">
                        Click here to upload <br /><b>Driving Licence</b> Back
                      </p>
                      <input type="file" class="form-control" id="file-input2" formControlName="file"
                        (change)="onImage3Change($event)" style="visibility: hidden; position: absolute" multiple />
                    </label>
                  </div>
                </div>
                <!-- <button [ngClass]="!imgFile1 ? 'upload' : 'uploaded'" mat-raised-button type="submit" [disabled]="!imgFile1">
                    Upload Adhar Card
                    <mat-icon> insert_drive_file </mat-icon>
                  </button> -->
              </form>
              <!-- </mat-card> -->
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
              <!-- <mat-card> -->
              <form [formGroup]="uploadForm2" (ngSubmit)="upload()">
                <div class="form-group">
                  <label for="file-input" class="btn btn-default" flow-btn>
                    <div class="preview" *ngIf="imgFile2">
                      <img [src]="imgFile2" style="width: 100%" />
                    </div>
                    <div class="preview" *ngIf="!imgFile2">
                      <mat-icon class="file_copy">description</mat-icon>
                    </div>
                    <p class="choose-file" *ngIf="!imgFile2">
                      Click here to upload <b>Aadhaar</b> card
                    </p>
                    <input id="file-input" type="file" style="visibility: hidden; position: absolute"
                      formControlName="file" (change)="onImage2Change($event)" />
                  </label>
                </div>
                <!-- <button [ngClass]="!imgFile2 ? 'upload' : 'uploaded'" mat-raised-button type="submit" [disabled]="!imgFile2" >
                    Upload PAN Card
                    <mat-icon> insert_drive_file </mat-icon>
                  </button> -->
              </form>
            </div>
          </div>
          <div class="row" style="margin-top: 35px">
            <div class="col-md-1"></div>
            <div class="col-md-4">
              <h3 *ngIf="DLResult" style="margin-left:3%;font-size:20px !important;color:grey">Extracted DL Result :
              </h3>
              <mat-card *ngIf="DLResult">

                <div class="row">
                  <div class="col-md-5">
                    <b>DL NUMBER</b>
                  </div>
                  <div class="col-md-1"><b>:</b></div>
                  <div class="col-md-5" class="result">
                    <b>{{DLResult.Reference_Number}}</b>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-5">
                    <b>NAME</b>
                  </div>
                  <div class="col-md-1"><b>:</b></div>
                  <div class="col-md-5" class="result">
                    <b>{{DLResult.Name}}</b>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-5">
                    <b> Validity</b>
                  </div>
                  <div class="col-md-1"><b>:</b></div>
                  <div class="col-md-5" class="result">
                    <b>{{DLResult.Validity}}</b>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-5">
                    <b>DOB</b>
                  </div>
                  <div class="col-md-1"><b>:</b></div>
                  <div class="col-md-5" class="result">
                    <b>{{DLResult.Date_Of_Birth}}</b>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-5">
                    <b>DateofIssue</b>
                  </div>
                  <div class="col-md-1"><b>:</b></div>
                  <div class="col-md-5" class="result">
                    <b>{{DLResult.Date_of_Issue}}</b>
                  </div>

                </div>
                <!-- <div class="row">
                  <div class="col-md-5">
                  <b>Transport</b>
                  </div>
                  <div class="col-md-1"><b>:</b></div>
                  <div class="col-md-5"  class="result">
                    <b>{{DLResult.Non_Transport}}</b>
                    </div>
                    
                </div> -->
              </mat-card>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
              <h3 *ngIf="aadharResult" style="margin-left:3%;font-size:20px !important;color:grey">Extracted AADHAR
                Result : </h3>
              <mat-card *ngIf="aadharResult">

                <div class="row">
                  <div class="col-md-5">
                    <b>AADHAR NUM</b>
                  </div>
                  <div class="col-md-1"><b>:</b></div>
                  <div class="col-md-5" class="result">
                    <b>{{aadharResult.Aadhar_Number}}</b>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-5">
                    <b>NAME</b>
                  </div>
                  <div class="col-md-1"><b>:</b></div>
                  <div class="col-md-5" class="result">
                    <b>{{aadharResult.Name}}</b>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-5">
                    <b> GENDER</b>
                  </div>
                  <div class="col-md-1"><b>:</b></div>
                  <div class="col-md-5" class="result">
                    <b>{{aadharResult.Gender}}</b>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-5">
                    <b>DOB</b>
                  </div>
                  <div class="col-md-1"><b>:</b></div>
                  <div class="col-md-5" class="result">
                    <b>{{aadharResult.Date_Of_Birth}}</b>
                  </div>

                </div>
              </mat-card>
            </div>
          </div>
          <!-- <div class="row">

            <section class="example-section col-md-8" [formGroup]="checkboxForm">
              <p>
                <mat-checkbox class="example-margin" formControlName="consentShared">I
                  provide my consent to share my data with other Insurers to get my KYC verified</mat-checkbox>
              </p>
            </section>

          </div> -->
          <div class="row" style="margin-top: 25px">
            <div class="col-md-1"></div>
            <div class="col-md-4">
              <button class="full-width" mat-raised-button matStepperPrevious (click)="setImageFlag('BACK')">
                Back
              </button>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
              <button class="full-width" mat-raised-button matStepperNextv data-toggle="modal" data-target="#myPopup"
                [disabled]="!isVerified()">
                Next
              </button>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="finalFormGroup">
        <ng-template matStepLabel>Final Checks
          <span style="color: gainsboro">&nbsp;5 of 5</span>
        </ng-template>
        <mat-card class="status-card">
          <mat-card-content>
            <h2 class="example-h2">Verification Status</h2>

            <section class="example-section">
              <p class="row">
                <mat-checkbox class="example-margin" [(ngModel)]="isPanVerified" *ngIf="showPan">Driving Licence
                </mat-checkbox>
              </p>
              <p class="row">
                <mat-checkbox class="example-margin" [(ngModel)]="isAadharVerified" *ngIf="showAadhar">Aadhar Card
                </mat-checkbox>
              </p>
              <!-- <p class="row"><mat-checkbox class="example-margin" [(ngModel)]="isVkycVerified" *ngIf="showVkyc">Video KYC</mat-checkbox></p> -->
            </section>
            <p class="verification" *ngIf="showVerification">Verification Done.</p>
          </mat-card-content>
        </mat-card>

        <div class="row" style="margin-top: 25px">
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <button class="full-width" mat-raised-button matStepperPrevious (click)="setImageFlag('BACK')">
              Back
            </button>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <button class="full-width" mat-raised-button (click)="stepper.reset(); imageReset()">
              Reset
            </button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
  <div class="right">
    <div *ngIf="imageFlag == 1">
      <p style="
          text-align: center;
          font-size: xx-large;
          color: #4d3ada;
          font-family: 'Gilroy-Regular', sans-serif;
          margin-top: 10vh;
        ">
        Get <b>Verified</b>
      </p>
      <img src="assets/11.png" alt="First" loading="lazy" style="width: 100%" />
    </div>
    <div *ngIf="imageFlag == 2">
      <p style="
          text-align: center;
          font-size: xx-large;
          color: #4d3ada;
          font-family: 'Gilroy-Regular', sans-serif;
          margin-top: 10vh;
        ">
        Verify your <b>Identity</b>
      </p>
      <img src="assets/12.png" alt="" loading="lazy" style="width: 100%" />
    </div>
    <div *ngIf="imageFlag == 3">
      <p style="
          text-align: center;
          font-size: xx-large;
          color: #4d3ada;
          font-family: 'Gilroy-Regular', sans-serif;
          margin-top: 10vh;
        ">
        Real time <b>Verification</b>
      </p>
      <img src="assets/13.png" alt="" loading="lazy" style="width: 80%" />
    </div>
    <div *ngIf="imageFlag == 4">
      <p style="
          text-align: center;
          font-size: xx-large;
          color: #4d3ada;
          font-family: 'Gilroy-Regular', sans-serif;
          margin-top: 10vh;
        ">
        Congratulations, you are <b>Verified</b>
      </p>
      <img src="assets/14.png" alt="" loading="lazy" style="width: 90%" />
    </div>
  </div>
</div>

<!-- Share consent model -->
<div *ngIf="showModal" class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h4>Are you sure you want to provide consent to share the KYC documents submitted with
          {{selectBankForm.value.bankName}}</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default yesno" data-dismiss="modal"
          (click)="provideConsent(true)">Yes</button>
        <button type="button" class="btn btn-default yesno" data-dismiss="modal"
          (click)="provideConsent(false)">No</button>
      </div>
    </div>

  </div>
</div>

<!-- Share consent model -->
<div class="modal fade" id="myPopup" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 125%;">
      <div class="modal-header">
        <h3>Terms</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="font-size: 12px;" [formGroup]="checkboxForm">
        <div>
          <input type="checkbox" name="remember" value="true" id="rememberMe" formControlName="consentShared">
          <span for="rememberMe" style="margin-left: 1%;">To authorize us to share your KYC details with other
            Insurers, select checkbox</span>
        </div>
        <div>
          <input type="checkbox" name="remember" value="true" id="rememberMe2">
          <span for="rememberMe2" style="margin-left: 1%;">To authorize us to collect and share your Policy and Claims
            details with other Insurers, select checkbox</span>
        </div>
        <div>
          <input type="checkbox" name="remember" value="true" id="rememberMe3">
          <span for="rememberMe3" style="margin-left: 1%;">To authorize us to collect and share your NCF or credit
            score with other Insurers, select checkbox</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default yesno" data-dismiss="modal"
          (click)="submitKycData();setImageFlag('NEXT')">Yes</button>
        <button type="button" class="btn btn-default yesno" data-dismiss="modal">No</button>
      </div>
    </div>

  </div>
</div>

<footer id="footer">
  <div class="container d-md-flex py-4 mx-auto">
    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>BlockSure</span></strong
        >. All Rights Reserved
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer>