<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto">
      <a href="javascript:void(0);">
        <div class="img-anime pic ">
          <img src="assets/img/insurer/logo_Blocksure-ver-01.png" class="img-fluid" alt="BlockSure logo" >
        </div>
      </a>
    </h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <nav class="header-nav ms-auto">
          <span
            class="d-none d-md-block ps-2"
            style="font-family: sans-serif; font-size: 18px"
            ><b>Contact US :1080808004 (24x7)</b></span
          >
        </nav>
        <!-- End Profile Nav -->
      </ul>
    </nav>
    <!-- End Icons Navigation -->
  </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    
    <!-- ---------------------------------------------------------- -->

    <div class="carousel-wrapper">
      <span style="font-size:18px; padding-left: 10px; font-weight:700; padding-bottom:10px;">Our Partners</span>
      <hr>
      <!-- Slides with captions -->
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
    
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="col-lg-12 d-flex align-items-center">
              <div class="col-lg-3" style="padding-left:24px;">
                <img src="assets/img/insurer/care-for-you.png" class="d-block" alt="careforYou" width="240px">
                <span class="captionTxt">We care for Your Health</span>
              </div>
              
              <div class="col-lg-9" style="text-align:left;">
                <div style="text-align:left;">
                  <span style="font-size:24px; font-weight: bold;">India's first growing Health Insurance Company</span>
                </div>
                
                <div style="text-align:left;">
                  <span style="font-size:14px; font-weight: 700;">2.8 Million satisfied policy holders | Claim sattlement over 90%</span>
                </div>
              </div>
            </div>
          </div>
      
          <div class="carousel-item">
            <div class="col-lg-12 d-flex align-items-center">
              <div class="col-lg-3" style="padding-left:24px;">
                <img src="assets/img/insurer/auto-care-x.png" class="d-block" alt="auto care x" width="240px">
                <span class="captionTxt2">Relax and Drive</span>
              </div>
              
              <div class="col-lg-9" style="text-align:left;">
                <div style="text-align:left;">
                  <span style="font-size:24px; font-weight: bold;">Award winner for fastest claim settlemenmt in the segment</span>
                </div>
                
                <div style="text-align:left;">
                  <span style="font-size:14px; font-weight: 700;">2.5 Million satisfied policy holders | Claim sattlement over 93%</span>
                </div>
              </div>
            </div>
          </div>
    
          <div class="carousel-item">
            <div class="col-lg-12 d-flex align-items-center">
              <div class="col-lg-3" style="padding-left:24px;">
                <img src="assets/img/insurer/HDCInsurance.png" class="d-block" alt="..." width="240px">
                <span class="captionTxt3">We protect your SWEET home</span>
              </div>
              
              <div class="col-lg-9" style="text-align:left;">
                <div style="text-align:left;">
                  <span style="font-size:24px; font-weight: bold;">Most comprehenshive and cost effective insurance solutions</span>
                </div>
                
                <div style="text-align:left;">
                  <span style="font-size:14px; font-weight: 700;">1.7 Million satisfied policy holders | Claim sattlement over 84%</span>
                </div>
              </div>
            </div>
          </div>
    
          <div class="carousel-item">
            <div class="col-lg-12 d-flex align-items-center">
              <div class="col-lg-3" style="padding-left:24px;"> 
                <img src="assets/img/insurer/VitaSecure.png" class="d-block" alt="..." width="240px">
                <span class="captionTxt4">Every Life Matters</span>
              </div>
            
              <div class="col-lg-9" style="text-align:left;">
                <div style="text-align:left;">
                  <span style="font-size:24px; font-weight: bold;">We understand life is precious for loved ones</span>
                </div>
                  
                <div style="text-align:left;">
                  <span style="font-size:14px; font-weight: 700;">2.2 Million satisfied policy holders | Claim sattlement over 89%</span>
                </div>
              </div>
            </div>
          </div>
    
          <div class="carousel-item">
            <div class="col-lg-12 d-flex align-items-center">
              <div class="col-lg-3" style="padding-left:24px;">
                <img src="assets/img/insurer/AHAM-Shield.png" class="d-block" alt="..."  width="240px">
                <span class="captionTxt5">Home and Auto first</span>
              </div>
              
              <div class="col-lg-9" style="text-align:left;">
                <div style="text-align:left;">
                  <span style="font-size:24px; font-weight: bold;">Your one stop shop for all your auto and home insurance needs</span>
                </div>
                
                <div style="text-align:left;">
                  <span style="font-size:14px; font-weight: 700;">1.8 Million satisfied policy holders | Claim sattlement over 95%</span>
                </div>
              </div>
            </div>
          </div>                                            
        </div>
    
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
    
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div><!-- End Slides with captions -->
    </div>

    <!-- ---------------------------------------------------------- -->


    <h1>Welcome to BlockSure</h1>
    <br/>
    <br/>
    <br/>
    <!-- <h2>Your ONE-Stop shop for all your Insurance needs</h2> -->
    <!-- <h2>A secured blockchain based solution to ease client on-boarding <br>and keep track of the Insurance policies, payment and claim details<br> of an Insured across multiple Insurers</h2> -->
    <!-- <a href="#about" class="btn-get-started scrollto">Get Started</a> -->
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="content">
            <h3>Why Choose BlockSure?</h3>
            <p>
              A secured Blockchain based solution to ease client On-Boarding and
              keeping track of the Insurance policies, payments and claim
              details of an Insured across multiple Insurers.  
            </p>
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch">
          <div
            class="col-lg-12 icon-boxes d-flex flex-column justify-content-center"
          >
            <div class="row">
              <div class="col-xl-4 align-items-stretch">
                <a
                  href="javascript:void(0)"
                  class="col-sm-12"
                  data-toggle="modal"
                  data-target="#basicInfoModal"
                  (click)="setInfoType('life')"
                >
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-user-pin"></i>
                    <!-- <img src="assets/img/insurer/term-life-icon.png" class="img-fluid" alt="term-life" style="width: 72px;"> -->
                    <h4>Term Life</h4>
                  </div>
                </a>
              </div>

              <div class="col-xl-4 d-flex align-items-stretch">
                <a
                  href="javascript:void(0)"
                  class="col-sm-12"
                  data-toggle="modal"
                  data-target="#basicInfoModal"
                  (click)="setInfoType('auto')"
                >
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-car"></i>
                    <h4>Personal Auto</h4>
                  </div>
                </a>
              </div>

              <div class="col-xl-4 d-flex align-items-stretch">
                <a
                  href="javascript:void(0)"
                  class="col-sm-12"
                  data-toggle="modal"
                  data-target="#basicInfoModal"
                  (click)="setInfoType('home')"
                >
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-home"></i>
                    <h4>Homeowners</h4>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- End .content-->
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->

  <!-- ======= Departments Section ======= -->

  <!-- ======= Doctors Section ======= -->
  <section id="termLife" class="doctors" *ngIf="basicInfoCaptured">
    <div class="container">
      <div class="section-title">
        <h2>Best Offers For You</h2>
        <!-- <p>Insured applies for term life Insurance from below insurer</p> -->
      </div>

      <!--card 01 start-->
      <div class="row" *ngFor="let offer of offers">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div
                class="row"
                style="
                  vertical-align: middle;
                  display: flex;
                  text-align: center;
                "
              >
                <div class="col-md-4 col-sm-12" style="text-align: center">
                  <div class="member d-flex">
                    <div class="img-anime pic">
                      <img
                        src="assets/img/insurer/{{offer.img}}"
                        class="img-fluid"
                        alt="BlockSure logo"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-sm-12">
                  <div class="row card-content">
                    <h5 class="card-title font-insured-value f-18">
                      <i class="fa fa-snowflake-o" aria-hidden="true"></i
                      >Insured Value
                    </h5>
                    <h6><span class="value-txt f-16">&#8377;{{offer.premium}}</span></h6>
                  </div>
                </div>

                <div class="col-md-4 col-sm-12">
                  <div
                    class="row"
                    style="
                      text-align: center;
                      display: flex;
                      align-items: center;
                      padding-top: 40px;
                    "
                  >
                    <h5 class="card-title font-insured-value f-18">
                      <i class="fa fa-snowflake-o" aria-hidden="true"></i>Yearly
                      premium starting from
                    </h5>

                    <div class="col-12">
                      <button class="btn btn-lg btn-primary" style="background: #423b72;" type="button" (click)="toKyc(offer.orgName)">
                        <h6>
                         <span class="value-txt f-16" style="color: #ffffff">&#8377;{{offer.premium}} &#8680;</span>
                        </h6>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--card 01 End-->
    </div>
  </section>
  <!-- End Doctors Section -->
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container d-md-flex py-4">
    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>BlockSure</span></strong
        >. All Rights Reserved
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer>
<!-- End Footer -->

<!-- <div id="preloader"></div> -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>

<!-- Basic Info modal -->
<div
  class="modal fade"
  id="basicInfoModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title f-16"
          id="exampleModalLabel"
          style="font-weight: 700"
        >
          Provide Your Details
        </h5>
        <button
          type="button"
          class="close f-16"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (submit)="$event.preventDefault(); saveBasicInfo();">
        <div class="modal-body">

          <div class="row mb-3">
            <div class="col-lg-12">
              <label for="firstname" class="f-14">First Name</label>
              <input
                type="text"
                name="firstName"
                class="form-control input-lg f-14"
                placeholder="First Name"
                id=""
                required
                [(ngModel)]="basicInfo.firstName"
              />
              <small class="text-danger">{{errors.firstName}}</small>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-12">
              <label for="lastname" class="f-14">Last Name</label>
              <input
                type="text"
                name="last Name"
                class="form-control input-lg f-14"
                placeholder="Last Name"
                id=""
                required
                [(ngModel)]="basicInfo.lastName"
              />
            </div>
            <small class="text-danger">{{errors.lastName}}</small>
          </div>

          <div class="row mb-3" *ngIf="infoType == 'life'">
            <div class="col-lg-12">
              <label for="firstname" class="f-14">DOB (MM/DD/YYYY)</label>
              <input
                type="date"
                name="dob"
                class="form-control input-lg f-14"
                placeholder="Date of Birth"
                id=""
                required
                [(ngModel)]="basicInfo.dob"
              />
            </div>
            <small class="text-danger">{{errors.dob}}</small>
          </div>

          <div class="row mb-3">
            <div class="col-lg-12">
              <label for="phone" class="f-14">Phone Number</label>
              <div class="input-group">
                <div class="input-group-prepend" style="width: 80px;">
                  <select
                    name="country"
                    class="form-control input-lg f-14"
                    style="
                      border-top-left-radius: 5px;
                      border-bottom-left-radius: 5px;
                      padding-top: 0;
                    "
                    [(ngModel)]="basicInfo.country"
                    required
                  >
                    <option *ngFor="let c of countryCodes" [value]="c.value">
                      {{ c.viewValue }}
                    </option>
                  </select>
                </div>
                <input
                  type="tel"
                  name="phone"
                  class="form-control input-lg f-14"
                  placeholder="Phone"
                  id=""
                  required
                  [(ngModel)]="basicInfo.phone"
                  pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
                />
              </div>
              <small class="text-danger">{{errors.phone}}</small>
            </div>
          </div>

          <div class="row mb-3" *ngIf="infoType == 'auto'">
            <div class="col-lg-12">
              <label for="firstname" class="f-14"
                >Vehicle Registration No</label
              >
              <input
                type="text"
                name="regNo"
                class="form-control input-lg f-14"
                placeholder="Vehicle Registration No"
                id=""
                required
                [(ngModel)]="basicInfo.regNo"
              />
            </div>
            <small class="text-danger">{{errors.regNo}}</small>
          </div>

          <div class="row mb-3" *ngIf="infoType == 'home'">
            <div class="col-lg-12">
              <label for="firstname" class="f-14">Year Built</label>
              <input
                type="number"
                max="2010"
                name="yearBuilt"
                class="form-control input-lg f-14"
                placeholder="Year Built"
                id=""
                required
                [(ngModel)]="basicInfo.yearbuilt"
              />
              <small class="text-danger">{{errors.yearbuilt}}</small>
            </div>
          </div>

          <div class="row mb-3" *ngIf="infoType == 'home'">
            <div class="col-lg-12">
              <label for="firstname" class="f-14">Postal Code</label>
              <input
                type="text"
                maxlength="8"
                name="postalCode"
                class="form-control input-lg f-14"
                placeholder="Postal Code"
                id=""
                required
                [(ngModel)]="basicInfo.pincode"
              />
            </div>
            <small class="text-danger">{{errors.pincode}}</small>
          </div>
        </div>

        <div class="modal-footer">
          <div class="row w-100">
            <div class="col-6">
              <button
                type="button"
                class="btn btn-lg btn-secondary pull-left"
                data-dismiss="modal"
                id="closeModal"
              >
                Close
              </button>
            </div>

            <div class="col-6">
              <button
                type="submit"
                class="btn btn-lg btn-primary pull-right"
                style="background: #423b72;" 
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
