<p>
    <mat-toolbar>
        <button mat-icon-button class="title-icon">
        <mat-icon class="inclusive-icon"> all_inclusive </mat-icon><span class="title">vKYC-CHAIN</span>
    </button>
      <div class="group-buttons">
        <span class="text">
          Need any help?
        </span>
      <button mat-icon-button class="icon">
        <mat-icon>chat</mat-icon><span class="text">CHAT</span>
      </button>
      <button mat-icon-button class="icon">
        <mat-icon>phone</mat-icon><span class="text">CALL US</span>
      </button>
      <button mat-icon-button class="icon">
        <mat-icon>email</mat-icon><span class="text">EMAIL US</span>
      </button>
     </div>
    </mat-toolbar>
  </p>
  