<!-- <p>
    <mat-toolbar>
        <button mat-icon-button class="title-icon">
        <mat-icon class="inclusive-icon"> all_inclusive </mat-icon><span class="title">vKYC-CHAIN</span>
    </button>
      <div class="group-buttons">
        <span class="text">
          Need any help?
        </span>
      <button mat-icon-button class="icon">
        <mat-icon>chat</mat-icon><span class="text">CHAT</span>
      </button>
      <button mat-icon-button class="icon">
        <mat-icon>phone</mat-icon><span class="text">CALL US</span>
      </button>
      <button mat-icon-button class="icon">
        <mat-icon>email</mat-icon><span class="text">EMAIL US</span>
      </button>
     </div>
    </mat-toolbar>
  </p> -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="index.html">BlockSure</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
  
      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
          <nav class="header-nav ms-auto">
            <span
              class="d-none d-md-block ps-2"
              style="font-family: sans-serif; font-size: 18px"
              ><b>Contact US :1080808004 (24x7)</b></span
            >
          </nav>
          <!-- End Profile Nav -->
        </ul>
      </nav>
      <!-- End Icons Navigation -->
    </div>
  </header>