.title {
  margin-left: 4%;
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: bolder;
  color: black;
  // display: inline-block;
  font-size: xx-large;
}

.title-icon {
  width: 25% !important;
  color: #4d3ada;
}
.icon {
  width: 35% !important;
  color: #4d3ada;
}

.group-buttons {
  margin-left: 50%;
}
.text {
  color: #484848;
  font-size: smaller;
  font-family: "Gilroy-Regular";
}

// span {
//   font-size: 13px;
//   font-family: "Gilroy-Regular";
// }
.inclusive-icon {
  font-size: 60px;
  color: #4d3ada;
  font-size: 60px;
  margin-right: 5%;
}
